    <div id="header">
      <div class="max_width">
        <%= image_tag "logo_header.png", :class => "visite_logo" %>
        <div class="menu clear">
          <div class="buttons">
            <a href="#register" data-form-action="voluntary_form">posso ajudar!</a>
            <a href="#register" data-form-action="school_form">cadastrar escola</a>
          </div>

          <ul>
            <li><a href="#" data-scroll-to="l_about">Sobre</a></li>
            <li><a href="#" data-scroll-to="l_why">Por quê?</a></li>
            <li><a href="#" data-scroll-to="l_how">Como?</a></li>
          </ul>
        </div>
      </div>
    </div>

    <section class="section hero">
      
      <%= image_tag "logo_visite.png", :class => "logo" %>

      <p class="first_legend">Promovemos o encontro entre escolas e pessoas dispostas a ajudar.</p>
      <p class="last_legend">Porque uma boa educação depende de <b>todos nós.</b></p>

      <div class="buttons">
        <a href="#register" data-form-action="voluntary_form">posso ajudar!</a>
        <a href="#register" data-form-action="school_form">cadastrar escola</a>
      </div>
    </section>

    <section class="section about">
      <a id="l_about" name="about"></a>
      <h2>Sobre o projeto</h2>

      <div class="steps clear">
        <div class="step necessity">
          <div class="icon">
            <%= image_tag "about_handsup.png" %>
          </div>
          <p class="legend"> habilidades </p>
        </div>

        <div class="step plus">
          <div class="icon">
            <%= image_tag "about_plus.png" %>
          </div>
          <p class="legend"> combinamos escolas e voluntários </p>
        </div>

        <div class="step skills">
          <div class="icon">
            <%= image_tag "about_school.png" %>

          </div>
          <p class="legend"> necessidades </p>
        </div>

        <div class="step arrow">
          <div class="icon">
            <%= image_tag "about_arrow.png" %>
          </div>
          <p class="legend"> ações </p>
        </div>

        <div class="step community">
          <div class="icon">
            <%= image_tag "about_avatar.png" %>
          </div>
          <p class="legend"> comunidade mais engajada na educação </p>
        </div>
      </div>

      <footer class="footer">
        <p>Cruzamos o nosso cadastro de habilidades dos voluntários com o de necessidades das escolas.</p>
        <p>Com esse encontro, as ações de voluntariado criam engajamento na comunidade e propiciam o desenvolvimento da educação.</p>
      </footer>
    </section>

    <section class="section why">
      <a id="l_why" name="about"></a>
      <header class="why_header">
        <h2>Por que a educação precisa da sua ajuda?</h2>
        <p>Para a maioria dos brasileiros, o acesso a educação pública significa ter que enfrentar infraestrutura e nível de ensino precários. Isso resulta em uma população com baixo índice intelectual. Veja:</p>
      </header>

      <div class="statistics clear">
        <article class="state graph1">
          <header>
            <p>Brasil é um dos <b>10 piores</b> em rendimento escolar</p>
          </header>
          <div class="graph">
            <%= image_tag "why_graph1.png" %>
          </div>
          <footer>
            <p>Entre 64 países analisados pela OCDE, o Brasil ficou entre os 10 piores</p>
            <small>Fonte: EBC</small>
          </footer>
        </article>

        <article class="state graph2">
          <header>
            <p>A <b>infraestrutura</b> das escolas públicas brasileiras é <b>precária</b> e <b>insuficiente</b></p>
          </header>
          <div class="graph">
            <%= image_tag "why_graph2.png" %>
          </div>
          <footer>
            <p>Somente 8% as escolas públicas brasileira possuem laboratório de ciências e apenas 30% delas contam com biblioteca</p>
            <small>Fonte: QEDU</small>
          </footer>
        </article>

        <article class="state graph3">
          <header>
            <p>Somente <b>8% os brasileiros</b> dominam português e matemática</p>
          </header>
          <div class="graph">
            <%= image_tag "why_graph3.png" %>
          </div>
          <footer>
            <ul class="graph_list_state">
              <li>
                <span class="percent" style="color:#F79433">4%</span> analfabeto
              </li>
              <li>
                <span class="percent" style="color:#FAC145">23%</span> rudimentar
              </li>
              <li>
                <span class="percent" style="color:#00A99D">42%</span> elementar
              </li>
              <li>
                <span class="percent" style="color:#005F59">23%</span> intermediário
              </li>
              <li>
                <span class="percent" style="color:#643654">8%</span> proficiente
              </li>
            </ul>
            <small>Fonte: EBC</small>
          </footer>
        </article>
      </div>

      <footer class="footer_message">
        <p>Como podemos melhorar a educação no Brasil?</p>
        <p>A força da comunidade é a ajuda que as escolas precisam.</p>
        <p>Com a ajuda de cada indivíduo, uma comunidade engajada consegue grandes realizações.</p>
      </footer>
    </section>

    <section class="section how">
      <a id="l_how" name="about"></a>
      <header>
        <h2>Como você pode ajudar?</h2>
        <p>É possível ajudar de diversas maneiras de acordo com suas habilidades e disponibilidade de tempo.</p>
      </header>

      <div class="grid_activities">

        <div class="row">
          <div class="centralize">
            <div class="cell esportes">
              <span>Atividades esportivas</span>
            </div>
            <div class="cell cultura">
              <span>Atividades culturais e artísticas</span>
            </div>
            <div class="cell reforco">
              <span>Monitoria e reforço</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="centralize">
            <div class="cell reparos">
              <span>Reparos e instalações</span>
            </div>
            <div class="cell palestras">
              <span>Palestras e cursos</span>
            </div>
            <div class="cell saude">
              <span>Saúde e alimentação</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="centralize">
            <div class="cell psicopedagogico">
              <span>Suporte psicopedagógico</span>
            </div>
            <div class="cell doacao">
              <span>Patrocínio e doação</span>
            </div>
            <div class="cell mais">
              <span>E muito mais!</span>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="section register">

      <header id="register_header">
        <h2>Vamos lá!</h2>
        <h3 id="register_title">Minha escolha precisa de ajuda:</h3>
      </header>

      <div id="register_message" class="register_success">
        <p>Sua escola foi cadastrada com sucesso!</p>
      </div>

      <a id="l_register" name="register"></a>

      <!-- Formulário do voluntário -->
      <form id="voluntary_form" name="voluntary" class="steps_container checkboxes" data-success="O voluntário foi cadastrado com sucesso!">
        <header>
          <div class="steps_menu clear">
            <span data-tab="personally">Dados pessoais</span>
            <span data-tab="skills">Habilidades</span>
            <span data-tab="preferences">Preferências</span>
            <span data-tab="availability">Disponibilidade</span>
          </div>
        </header>

        <div class="step personally">
          <p>Seus dados serão utilizados para selecionar as necessidades compatíveis e serão compartilhados apenas com a escola onde você puder contribuir.</p>
          <div class="row">
            <div class="col-md-8">
              <input type="text" name="name" placeholder="Nome completo" required>
            </div>
            <div class="col-md-4">
              <input type="text" name="cellphone" placeholder="Celular" required>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <input type="email" name="email" placeholder="E-mail" required>
            </div>
            <div class="col-md-4">
              <input type="text" name="phone" placeholder="Telefone">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <input type="text" name="address" placeholder="Endereço">
            </div>
            <div class="col-md-2">
              <input type="text" name="number" placeholder="Número">
            </div>
            <div class="col-md-4">
              <input type="text" name="neighbourhood" placeholder="Bairro">
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <input type="text" name="zipcode" placeholder="CEP">
            </div>
            <div class="col-md-5">
              <input type="text" name="city" placeholder="Cidade" required>
            </div>
            <div class="col-md-4">
              <%= select_tag :state, options_for_select(unidades_federativas), required: true, include_blank: 'UF', placeholder: 'UF' %>
            </div>
            
          </div>
        </div>

        <div class="step skills">
          <p>Quais habilidades você pode disponibilizar para as escolas?</p>
          
          <div class="row base_800">
            <div class="col-md-6">
              <input type="checkbox" name="skill_sport">
              <label>atividades esportivas</label>
            </div>
            
            <div class="col-md-6">
              <input type="checkbox" name="skill_culture">
              <label>atividades culturais e artisticas</label>
            </div>
          </div>
          
          <div class="row base_800">
            <div class="col-md-6">
              <input type="checkbox" name="skill_monitoring">
              <label>monitoria e reforço</label>
            </div>
            
            <div class="col-md-6">
              <input type="checkbox" name="skill_repairs">
              <label>reparos e instalações</label>
            </div>
          </div>
            
          <div class="row base_800">
            <div class="col-md-6">
              <input type="checkbox" name="skill_courses">
              <label>palestras e cursos</label>
            </div>
            
            <div class="col-md-6">
              <input type="checkbox" name="skill_health">
              <label>saúde e alimentação</label>
            </div>
          </div>

          <div class="row base_800">
            <div class="col-md-6">
              <input type="checkbox" name="skill_psycho">
              <label>suporte psicopedagógico</label>
            </div>
            
            <div class="col-md-6">
              <input type="checkbox" name="skill_donations">
              <label>patrocínio e doações</label>
            </div>
          </div>

          <div class="row base_800">
            <div class="col-md-6">
              <input type="checkbox" name="skill_others">
              <label>outras atividades</label>
            </div>
          </div>

          <div class="row base_800">
            <div class="col-md-12">
              <label>detalhe as suas habilidades</label>
              <input type="text" name="skill_detail" placeholder="ex.: judô, pintura, matemática, acompanhamento pedagógico" style="min-width: 100%"></textarea>
            </div>
          </div>

        </div>

        <div class="step preferences">
          <p>Você gostaria de definir um público de preferência ao visitar uma escola?</p>
          
          <div class="row base_800">
            <div class="col-md-4">
              <input type="checkbox" name="preference_kid">
              <label>crianças</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="preference_deaf">
              <label>deficientes auditivos</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="preference_teacher">
              <label>professores</label>
            </div>
          </div>
          <div class="row base_800">
            <div class="col-md-4">
              <input type="checkbox" name="preference_teenager">
              <label>adolescentes</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="preference_blind">
              <label>deficientes visuais</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="preference_employee">
              <label>funcionários</label>
            </div>
          </div>
          <div class="row base_800">
            <div class="col-md-4">
              <input type="checkbox" name="preference_adult">
              <label>alunos adultos</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="preference_physical_disable">
              <label>deficientes físicos</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="preference_family">
              <label>famílias</label>
            </div>
          </div>
          <div class="row base_800">
            <div class="col-md-4">
              <input type="checkbox" name="preference_elderly">
              <label>alunos idosos</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="preference_disable">
              <label>deficientes intelectuais</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="preference_baby">
              <label>bebês</label>
            </div>
          </div>
        </div>

        <div class="step availability">
          <p>A partir do seu endereço cadastrado, qual a distância máxima de uma escola que você pode visitar?</p>
          <div class="range">
            <span class="range_limit">0 km</span>
            <input type="range" name="points" min="0" max="50" class="input_range">
            <span class="range_limit">50km</span>
            <div class="range_result">
              <span>0</span>km
            </div>
          </div>

          <p>Que dias e horários você tem disponibilidade para visitar as escolas?</p>
          
          <div class="row">
            <div class="col-md-12">
              <table class="table_style base_800">
                <thead>
                  <tr>
                    <th></th>
                    <th>2ª Feira</th>
                    <th>3ª Feira</th>
                    <th>4ª Feira</th>
                    <th>5ª Feira</th>
                    <th>6ª Feira</th>
                    <th>sábado</th>
                    <th>domingo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="bold">manhã</td>
                    <td class="align_center">
                      <input type="checkbox" value="monday" name="morning[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="tuesday" name="morning[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="wednesday" name="morning[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="thursday" name="morning[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="friday" name="morning[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="saturday" name="morning[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="sunday" name="morning[]">
                    </td>
                  </tr>
                  <tr>
                    <td class="bold">tarde</td>
                    <td class="align_center">
                      <input type="checkbox" value="monday" name="afternoon[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="tuesday" name="afternoon[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="wednesday" name="afternoon[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="thursday" name="afternoon[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="friday" name="afternoon[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="saturday" name="afternoon[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="sunday" name="afternoon[]">
                    </td>
                  </tr>
                  <tr>
                    <td class="bold">noite</td>
                    <td class="align_center">
                      <input type="checkbox" value="monday" name="night[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="tuesday" name="night[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="wednesday" name="night[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="thursday" name="night[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="friday" name="night[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="saturday" name="night[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="sunday" name="night[]">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="submit_step">
          <button type="button">continuar</button>
          <button type="submit">finalizar cadastro</button>
        </div>
      </form>

      <!-- Formulário da escola -->
      <form id="school_form" name="school" class="steps_container checkboxes" data-success="Sua escola foi cadastrada com sucesso!">
        <header>
          <div class="steps_menu clear">
            <span data-tab="basic_data">Dados da escola</span>
            <span data-tab="profile">Perfil</span>
            <span data-tab="contact">Contato</span>
            <span data-tab="necessities">Necessidades</span>
          </div>
        </header>

        <div class="step basic_data">
          <p>Qual o endereço e a forma de contato com a escola? O endereço será utilizado para se conectar com voluntários da região.</p>
          <div class="row">
            <div class="col-md-8">
              <input type="text" name="name" placeholder="Nome da escola" required>
            </div>
            <div class="col-md-4">
              <input type="text" name="abbreviation" placeholder="Sigla">
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <input type="text" name="email" placeholder="E-mail da escola" required>
            </div>
            <div class="col-md-4">
              <input type="text" name="phone" placeholder="Telefone da escola" required>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <input type="text" name="address" placeholder="Endereço da escola" required>
            </div>
            <div class="col-md-2">
              <input type="text" name="number" placeholder="Número" required>
            </div>
            <div class="col-md-4">
              <input type="text" name="neighbourhood" placeholder="Bairro" required>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <input type="text" name="zipcode" placeholder="CEP" required>
            </div>
            <div class="col-md-5">
              <input type="text" name="city" placeholder="Cidade" required>
            </div>
            <div class="col-md-4">
              <%= select_tag :state, options_for_select(unidades_federativas), required: true, include_blank: 'UF da escola', placeholder: 'UF' %>
            </div>
          </div>

          
        </div>

        <div class="step profile">
          <p>Que dias e horários a escola tem disponibilidade para receber os voluntários?</p>
          
          <div class="row">
            <div class="col-md-12">
              <table class="table_style base_800">
                <thead>
                  <tr>
                    <th></th>
                    <th>2ª Feira</th>
                    <th>3ª Feira</th>
                    <th>4ª Feira</th>
                    <th>5ª Feira</th>
                    <th>6ª Feira</th>
                    <th>sábado</th>
                    <th>domingo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="bold">manhã</td>
                    <td class="align_center">
                      <input type="checkbox" value="monday" name="morning[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="tuesday" name="morning[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="wednesday" name="morning[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="thursday" name="morning[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="friday" name="morning[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="saturday" name="morning[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="sunday" name="morning[]">
                    </td>
                  </tr>
                  <tr>
                    <td class="bold">tarde</td>
                    <td class="align_center">
                      <input type="checkbox" value="monday" name="afternoon[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="tuesday" name="afternoon[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="wednesday" name="afternoon[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="thursday" name="afternoon[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="friday" name="afternoon[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="saturday" name="afternoon[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="sunday" name="afternoon[]">
                    </td>
                  </tr>
                  <tr>
                    <td class="bold">noite</td>
                    <td class="align_center">
                      <input type="checkbox" value="monday" name="night[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="tuesday" name="night[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="wednesday" name="night[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="thursday" name="night[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="friday" name="night[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="saturday" name="night[]">
                    </td>
                    <td class="align_center">
                      <input type="checkbox" value="sunday" name="night[]">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <p>Quais níveis de ensino da escola podem receber a atuação de voluntários?</p>
          
          <div class="row base_800">
            <div class="col-md-4">
              <input type="checkbox" name="profile_nursery">
              <label>berçário</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="profile_elementary">
              <label>ensino fundamental</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="profile_language">
              <label>línguas estrangeiras</label>
            </div>
          </div>
          <div class="row base_800">
            <div class="col-md-4">
              <input type="checkbox" name="profile_daycare">
              <label>maternal</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="profile_college">
              <label>ensino superior</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="profile_sport">
              <label>escola esportiva</label>
            </div>
          </div>
          <div class="row base_800">
            <div class="col-md-4">
              <input type="checkbox" name="profile_kindergarten">
              <label>jardim de infância</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="profile_technician">
              <label>formação técnica</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="profile_art">
              <label>escola artística</label>
            </div>
          </div>

          <p>Qual o tipo de público da escola pode receber os voluntários?</p>
          
          <div class="row base_800">
            <div class="col-md-4">
              <input type="checkbox" name="profile_kid">
              <label>crianças</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="profile_deaf">
              <label>deficientes auditivos</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="profile_teacher">
              <label>professores</label>
            </div>
          </div>
          <div class="row base_800">
            <div class="col-md-4">
              <input type="checkbox" name="profile_teenager">
              <label>adolescentes</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="profile_blind">
              <label>deficientes visuais</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="profile_employee">
              <label>funcionários</label>
            </div>
          </div>
          <div class="row base_800">
            <div class="col-md-4">
              <input type="checkbox" name="profile_adult">
              <label>alunos adultos</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="profile_physical_disable">
              <label>deficientes físicos</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="profile_family">
              <label>famílias</label>
            </div>
          </div>
          <div class="row base_800">
            <div class="col-md-4">
              <input type="checkbox" name="profile_elderly">
              <label>alunos idosos</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="profile_disable">
              <label>deficientes intelectuais</label>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="profile_baby">
              <label>bebês</label>
            </div>
          </div>
        </div>

        <div class="step contact">
          <p>Quem será o responsável pela escola? Isso inclui o cadastro de necessidade e a aprovação de voluntários.</p>
          
          <div class="row base_800">
            <div class="col-md-7">
              <input type="text" name="contact_name" placeholder="seu nome completo" required>
            </div>
            <div class="col-md-5">
              <input type="text" name="contact_position" placeholder="seu cargo/relação com a escola" required>
            </div>
          </div>
          <div class="row base_800">
            <div class="col-md-7">
              <input type="text" name="contact_email" placeholder="seu e-mail" required>
            </div>
            <div class="col-md-5">
              <input type="text" name="contact_phone" placeholder="seu telefone" required>
            </div>
          </div>

          <p>Caso haja algum outro responsável por parte da escola, por favor forneça os dados:</p>

          <!--
            <div class="row base_800">
              <div class="col-md-12">
                <p class="left margin_none">
                  <input type="checkbox" name="">
                  <label>Sou o responsável administrativo pela instituição de ensino</label>
                </p>
              </div>
            </div>
          -->

          <div class="row base_800">
            <div class="col-md-7">
              <input type="text" name="contact_name_responsible" placeholder="nome do responsável" required>
            </div>
            <div class="col-md-5">
              <input type="text" name="contact_position_responsible" placeholder="cargo do responsável na escola" required>
            </div>
          </div>
          <div class="row base_800">
            <div class="col-md-7">
              <input type="text" name="contact_email_responsible" placeholder="e-mail do responsável" required>
            </div>
            <div class="col-md-5">
              <input type="text" name="contact_phone_responsible" placeholder="telefone do responsável" required>
            </div>
          </div>
        </div>

        <div class="step necessities">
          <p>Quais as necessidades da escola?</p>
          

          <div class="row base_800">
            
            <div class="col-md-6">
              <input type="checkbox" name="need_sport">
              <label>atividades esportivas</label>
            </div>
            
            <div class="col-md-6">
              <input type="checkbox" name="need_culture">
              <label>atividades culturais e artisticas</label>
            </div>
          </div>
            
          <div class="row base_800">
            <div class="col-md-6">
              <input type="checkbox" name="need_monitoring">
              <label>monitoria e reforço</label>
            </div>
            
            <div class="col-md-6">
              <input type="checkbox" name="">
              <label>reparos e instalações</label>
            </div>
          </div>

          <div class="row base_800">
            <div class="col-md-6">
              <input type="checkbox" name="need_courses">
              <label>palestras e cursos</label>
            </div>
            
            <div class="col-md-6">
              <input type="checkbox" name="need_health">
              <label>saúde e alimentação</label>
            </div>
          </div>
            
          <div class="row base_800">
            <div class="col-md-6">
              <input type="checkbox" name="need_psycho">
              <label>suporte psicopedagógico</label>
            </div>
            
            <div class="col-md-6">
              <input type="checkbox" name="need_donations">
              <label>patrocínio e doações</label>
            </div>
          </div>

          <div class="row base_800">
            <div class="col-md-6">
              <input type="checkbox" name="need_others">
              <label>outras atividades</label>
            </div>
          </div>

          <div class="row base_800">
            <div class="col-md-12">
              <label>detalhe as suas habilidades</label>
              <input type="text" name="need_detail" placeholder="ex.: judô, pintura, matemática, acompanhamento pedagógico" style="min-width: 100%"></textarea>
            </div>
          </div>
        </div>

        <div class="submit_step">
          <button type="button">continuar</button>
          <button type="submit">finalizar cadastro</button>
        </div>
      </form>
    </section>

    <footer id="footer">
      <div class="max_width">
        <div class="row footer_container">
          <div class="menus">
            <ul>
              <li><a href="#register" data-form-action="voluntary_form">Quero ajudar</a></li>
              <li><a href="#register" data-form-action="school_form">Cadastrar escola</a></li>
            </ul>

            <ul>
              <li><a href="#" data-scroll-to="l_about">Sobre o projeto</a></li>
              <li><a href="#" data-scroll-to="l_how">Como ajudar</a></li>
              <li><a href="#" data-scroll-to="l_why">Por que ajudar</a></li>
            </ul>

            <ul>
              <li><a href="mailto:contato@novatics.com.br">Contato</a></li>
              <li><a href="http://www.brasiliaaberta.org/">Brasília aberta</a></li>
            </ul>
          </div>
          <div class="box_social_media">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fvisiteumaescola%2F&tabs&width=340&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false" width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          </div>
        </div>
        <p class="copyright">
          Copyright &copy; 2016 Visite uma Escola - desenvolvido por 
          <a href="http://www.novatics.com.br/" target="_blank">
            <%= image_tag "logo_novatics.png", :class => "logo" %>
          </a>
        </p>
      </div>
    </footer>
